8.error_handling/src/main/mule/8.error_handling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="default_error_handling" doc:id="16c523a8-8833-4cb6-a800-189fadf744fd" >
		<http:listener doc:name="HTTP GET" doc:id="cbf07e78-f4d3-490f-a031-27968317e2e7" config-ref="HTTP_Listener_config" path="/default-error-handling" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request nonexistent URL" doc:id="318b5c10-2684-4c7b-9d75-2bb760ac2c0d" path="/test" config-ref="HTTP_Request_configuration"/>
	</flow>
	<flow name="on_error_continue_basic" doc:id="f357d289-3c3c-4443-a698-1e1c784e7884" >
		<http:listener doc:name="HTTP_GET" doc:id="ad8c3778-4b65-4070-9edf-da3818d87d91" config-ref="HTTP_Listener_config" path="/on-error-continue-basic" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request nonexistent URL" doc:id="bf9ac09f-72af-4dd8-81ae-b1c8de710a65" config-ref="HTTP_Request_configuration" path="/test" />
		<logger level="INFO" doc:name="Log After Request" doc:id="d214117d-6c04-41b0-9159-155a6a1359e3" message='#["LOG AFTER REQUEST - ON ERROR CONTINUE"]'/>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="0b1f0cf4-0d09-48de-b11b-cfa5fc0524a4" type="ANY">
				<logger level="INFO" doc:name="Log on continue basics" doc:id="609b43d8-6827-476b-b413-08bb3a5ebd07" message='#["mule flow on error continue log"]'/>
				<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;&#10;{&#10;	"message": "on error continue log",&#10;	"error": {&#10;		"description": error.description&#10;	}&#10;}]' doc:name="Set Payload" doc:id="ee7532c9-e5e5-4f03-b0f1-dadfe35591b0" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="on_error_propagate_basic" doc:id="9d30129c-374f-42b9-b210-7f083719ee67" >
		<http:listener doc:name="HTTP_GET" doc:id="cd3036a0-7f71-4df0-aa45-4942e10536ac" config-ref="HTTP_Listener_config" path="/on-error-propagate-basic" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request nonexistent URL" doc:id="b8353736-aa03-45fd-8796-e674f7cd9ea5" config-ref="HTTP_Request_configuration" path="/test"/>
		<logger level="INFO" doc:name="Log After Request" doc:id="9534e886-df48-44c1-9051-184b73b02898" message='#["LOG AFTER REQUEST - ON ERROR PROPAGATE"]'/>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="57771464-a601-4da9-9a44-7e3fbba170d9" type="ANY">
				<logger level="INFO" doc:name="Log on propagate basics" doc:id="2f97e3eb-0c6b-474a-918c-2730d75d4137" message='#["mule flow on error propagate log"]'/>
				<set-payload value='#[%dw 2.0
&#10;
&#10;output application/json
&#10;---
&#10;
&#10;{
&#10;	"message": "on error propagate log",
&#10;	"error": {
&#10;		"description": error.description
&#10;	}
&#10;}]' doc:name="Set Payload" doc:id="d5ae63b2-5638-46c7-a90e-27b018bcc2ee" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="on_error_continue_basic_flow_reference" doc:id="f8f10997-7a9f-458b-a72f-8b5f44cd581f" >
		<http:listener doc:name="HTTP_GET" doc:id="060715d2-12f2-41b3-9a60-293cdb840b71" config-ref="HTTP_Listener_config" path="/on-error-continue-fr" allowedMethods="GET"/>
		<flow-ref doc:name="Call Flow Reference" doc:id="238f7efe-3464-4919-926c-233810c0200c" name="flow_reference"/>
		<logger level="INFO" doc:name="Log After Request" doc:id="b191e120-8f9b-4491-a865-ed8d749ced9e" message='#["LOG AFTER REQUEST - ON ERROR CONTINUE BASIC FLOW REFERENCE"]'/>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue Basic Flow Reference" doc:id="7ac05e4c-9b86-4bcb-837f-b3f05d0217ee" type="ANY">
				<logger level="INFO" doc:name="Log on continue basics" doc:id="68093769-8429-44f8-9052-1a0dde9e9fbe" message='#["mule flow on error continue basic flow reference log"]'/>
				<set-payload value='#[%dw 2.0
&#10;
&#10;output application/json
&#10;---
&#10;
&#10;{
&#10;	"message": "on error continue log",
&#10;	"error": {
&#10;		"description": error.description
&#10;	}
&#10;}]' doc:name="Set Payload" doc:id="988dd752-969e-48d6-b87e-2bbdfa75224c" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="on_error_propagate_basic_flow_reference" doc:id="f77575fd-592d-4b9c-8d7c-dfd7b0231697" >
		<http:listener doc:name="HTTP_GET" doc:id="93740b0f-af40-4543-aae9-9160e8f19738" config-ref="HTTP_Listener_config" path="/on-error-propagate-fr" allowedMethods="GET"/>
		<flow-ref doc:name="Call Flow Reference" doc:id="dfdb44cd-59bf-42d2-b494-1804f7af85e3" name="flow_reference"/>
		<logger level="INFO" doc:name="Log After Request" doc:id="6138b04c-5e6e-4c46-a69e-f74401727b24" message='#["LOG AFTER REQUEST - ON ERROR PROPAGATE BASIC FLOW REFERENCE"]'/>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="05820e2d-580b-4c99-abbf-3c5b7d5c3901" type="ANY">
				<logger level="INFO" doc:name="Log on propagate basics flow reference" doc:id="72975d64-f808-41cd-9e16-d660b85f8ced" message='#["mule flow on error propagate basic flow reference log"]'/>
				<set-payload value='#[%dw 2.0
&#10;
&#10;output application/json
&#10;---
&#10;
&#10;{
&#10;	"message": "on error propagate log",
&#10;	"error": {
&#10;		"description": error.description
&#10;	}
&#10;}]' doc:name="Set Payload" doc:id="067b9260-7761-41ad-bea5-d5fb383539f0" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="mule_global-error-handler" doc:id="0a7f8f77-3b3d-4577-9883-10d8a6a08bfd" >
		<http:listener doc:name="HTTP GET" doc:id="027f07a8-4b33-441f-a240-075173c49477" config-ref="HTTP_Listener_config" path="/global-error-handler" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request nonexistent URL" doc:id="9627d29a-92c4-491a-943f-ada1019e3caf" config-ref="HTTP_Request_configuration" path="/test" />
	</flow>
	<flow name="flow_reference" doc:id="17d5b31a-c6a8-401f-a192-9e4114ad3b9b">
		<logger level="INFO" doc:name="Log BEFORE request" doc:id="c7bb1226-77bd-41d9-853b-5cc926be5efe" message='#["Log BEFORE request - flow reference"]'/>
		<http:request method="GET" doc:name="Request nonexistent URL" doc:id="a38b863b-b2d0-44c4-95ec-08d5921ef134" config-ref="HTTP_Request_configuration" path="/test" />
		<logger level="INFO" doc:name="Log AFTER request" doc:id="77fadbe2-cbbc-4772-bdf2-a91fa3a5ae2d" message='#["Log BEFORE request - flow reference"]'/>
	</flow>
	<flow name="raise_an_error_based_on_customer_id" doc:id="7bfc2d82-5543-439e-90bb-dc78252a7e14" >
		<http:listener doc:name="HTTP GET" doc:id="40950f8e-f023-4137-af96-21ccb68aa2f2" config-ref="HTTP_Listener_config" path="/raise-error/{customerID}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="ca3638c2-649c-4b0d-8c18-f27a235f0879" message='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;&#10;{&#10;	"customerID": attributes.uriParams.customerID&#10;}]'/>
		<choice doc:name="Choice" doc:id="c4dec802-6f2b-4854-9f98-b54e529ea41d" >
			<when expression="#[attributes.uriParams.customerID as Number == 2]">
				<logger level="INFO" doc:name="Logger" doc:id="f39c87b6-e889-4670-8b25-472315d5ae63" message='#["Customer ID is validated"]' />
				<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;&#10;{&#10;	"message": "Customer ID " ++ attributes.uriParams.customerID  as String ++ " is validated"&#10;}]' doc:name="Set Payload" doc:id="fb04f20b-1fa8-4b7e-a0a1-a69dfc9355cb" />
			</when>
			<when expression="attributes.uriParams.customerID as Number == 1">
				<logger level="INFO" doc:name="Log RESERVED" doc:id="725cd9c3-e8ea-4401-8c90-6fb2e72557c9" message='#["Customer ID is RESERVED"]' />
				<raise-error doc:name="Raise error for reserved customer" doc:id="5c0dfbfe-44cf-42bf-b32e-251143709ec7" type="CUSTOMERRESERVEDID" description='"Customer ID 1 is Reserved cannot complete"'/>
			</when>
			<otherwise>
				<raise-error doc:name="Raise default error" doc:id="00e44fc5-5514-48cd-9667-2ddbd66bd629" type="CUSTOMERINVALID_DATA" description='"Customer ID is necessary, cannot complete flow"'/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f13f544b-89ca-4906-b8d5-8912f65ad079" type="CUSTOMER:CUSTOMERRESERVEDID">
				<logger level="INFO" doc:name="Logger" doc:id="e365a8ad-c10c-44bf-96aa-77efcc2f849b" message='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;&#10;{&#10;	"message": "on error continue - CUSTOMER:INVAID_DATA, the Customer ID is not valid"&#10;}]'/>
				<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;&#10;{&#10;	"message": "on error continue - CUSTOMER:INVAID_DATA, the Customer ID is not valid"&#10;}]' doc:name="Set Payload" doc:id="f2ec5db9-7f6a-4188-a7aa-558e6118de6f" />
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="bd7ea3c7-cd87-4c95-8a1d-caa4d0a5ff90" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="244179f6-7356-465b-aff3-be9238ef0594" message='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;&#10;{&#10;	"message": "on error continue - CUSTOMER:INVAID_DATA, the Customer ID is missing or invalid"&#10;}]'/>
				<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;&#10;{&#10;	"message": "on error continue - CUSTOMER:INVAID_DATA, the Customer ID is missing or invalid"&#10;}]' doc:name="Set Payload" doc:id="419b6879-4b59-411e-a02f-1ec3021d6aeb" />
			</on-error-continue>
		</error-handler>
	</flow>
	
</mule>
